.card__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
    row-gap: 20px;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    align-content: stretch;
    flex-wrap: wrap;
}

.card__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 282px;
    height: 72px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.card__title {
    font-weight: 900;
    font-size: 24px;
    z-index: 2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0;
}

.card__like-button {
    z-index: 2;
    background: transparent url(../images/like.png) no-repeat center;
    border: none;
    width: 21px;
    height: 18px;
    padding: 15px;
    transition: 0.4s ease-in-out;
}

.card__like-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.card__rectangle {
    background-color: #fff;
    border-radius: 10px;
    z-index: 1;
    width: 282px;
    height: 361px;
    position: absolute;
}

.card__image {
    max-width: 282px;
    z-index: 2;
}