.footer {
    max-width: 880px;
    margin: auto;
}

.footer__copyright {
    color: #545454;
    font-weight: 400;
    font-size: 18px;
    margin-top: 50px;
}

@media screen and (max-width : 585px) {
    .footer__copyright {
        margin-left: 8%;
    }
}

@media screen and (max-width : 890px) {
    .footer__copyright {
        margin-left: 8%;
    }
}