.header {
    margin-top: 45px;
}

.header__logo {
    max-width: 880px;
    margin-bottom: 40px;
}

.header__line {
    border: 1px solid #545454;
}

@media screen and (max-width : 320px) {
    .header {

    }
    .header__logo {
        margin-left: 8%;
    }
    .header__line {
        width: 100vw;
    }
}