.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 3;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.6s, opacity 0.5s linear;
}

.modal__container {
  position: fixed;
  width: 430px;
  background: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: black;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__close-button {
  position: absolute;
  top: -45px;
  right: -45px;
  background: transparent url(../images/close.svg) no-repeat center;
  border: none;
  width: 45px;
  height: 45px;
  padding: 0;
  -webkit-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.modal__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 36px;
}

.modal__title {
  font-weight: 900;
  line-height: 29px;
  padding: 36px 36px 0px 36px;
  margin: 0;
}

.modal__input {
  border: 0;
  padding: 14px 5px 14px 5px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  font-weight: 400;
  line-height: 17px;
}

.modal__submit-button {
  background-color: black;
  color: white;
  border-radius: 2px;
  border: 0;
  padding: 15px;
  -webkit-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.modal__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__container_image {
  background: none;
  border-radius: 0%;
  box-shadow: none;
  width: max-content;
}

.modal__image {
  max-height: 75vh;
  max-width: 75vw;
}

.modal__caption {
  color: #fff;
  font-weight: 400;
  line-height: 14.5px;
  margin-top: 10px;
  margin-bottom: 0;
}

@media screen and (max-width: 597px) {
  .modal__container {
    max-width: 282px;
  }
  .modal__container_image {
    max-width: 75vw;
  }
  .modal__close-button {
    position: absolute;
    right: 0;
    transform: scale(-0.6);
  }
}
