.header {
  max-width: 880px;
  margin: auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  margin-bottom: 40px;
  margin-top: 45px;
}

@media screen and (max-width: 890px) {
  .header__logo {
    width: 126px;
    margin-top: 28px;
    margin-bottom: 32px;
    margin-left: 27px;
  }
}
