.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 880px;
  margin: auto;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 45px;
}

.profile__avatar-edit {
  position: absolute;
  height: 120px;
  width: 120px;
  background-image: url("../images/edit.svg") no-repeat cover;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 50%;
  opacity: 0;
  transition: ease-in-out 0.3s;
}

.profile__avatar-edit:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__info {
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "name button"
    "description description";
  gap: 18px;
}

.profile__name {
  font-weight: 500;
  margin: auto;
  font-size: 2.6em;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  font-weight: 400;
  margin: 0;
  font-size: 1.1rem;
  line-height: 22px;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid white;
}

.profile__edit-button {
  height: 24px;
  width: 24px;
  background: transparent url(../images/edit.svg) no-repeat center;
  border: 1px solid white;
  -webkit-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  align-self: center;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  height: 50px;
  width: 150px;
  background: transparent url(../images/add.svg) no-repeat center;
  border: 2px solid white;
  border-radius: 2px;
  margin-left: auto;
  transition: 0.4s ease-in-out;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 596px) and (max-width: 879px) {
  .profile {
    max-width: 860px;
    justify-content: center;
  }
  .profile__name {
    font-size: 1.5rem;
  }
  .profile__avatar {
    margin-right: 1rem;
  }
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
  .profile__add-button {
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 597px) {
  .profile {
    flex-direction: column;
    padding-bottom: 36px;
  }
  .profile__avatar {
    margin: 0;
  }
  .profile__info {
    margin-top: 26px;
    margin-bottom: 36px;
    text-align: center;
  }
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
  .profile__add-button {
    width: 88%;
    margin: 0;
  }
  .profile__name {
    font-size: 22px;
    line-height: 27px;
  }
  .profile__description {
    font-size: 14px;
    line-height: 17px;
  }
}
